{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RobotShop</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">


</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Наш магазин скоро откроется!<br></h1>
    <p>Каталог находится в стадии наполнения товарами, идет подписание договоров с сетью поставщиков
    и системой приема платежей с банковских карт и электронных денег на сайте.
    В данный момент доступна доставка заказа курьером по России и самовывоз из нашего пункта самовывоза.
    Оплата заказа возможна наличными и банковскими картами в пункте самовывоза или наличными курьеру.
    Многие товары доступны под заказ. Для их получения достаточно нажать кнопку "Заказать" и мы свяжемся с Вами.
    Чтобы ничего не пропустить, Вы можете подписаться на рассылку новостей, для этого просто оставляйте Ваш
    e-mail в форме ниже</p>
                    <div>
                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            <div class="form-group">
                                <label>Ваше имя: </label>
                                <input name="{{ form.name.name }}" class="form-control">
                            </div>

                            <div class="form-group">
                                <label>Ваш e-mail: </label>
                                <input name="{{ form.email.name }}" class="form-control">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <abbr title="Нажимая на кнопку Отправить, я даю согласие на обработку
персональных данных в соответствии с законом №152-ФЗ
'О персональных данных ' от 27.07.2006 и принимаю
условия Пользовательского соглашения. ">
                                        <input type="checkbox"> Согласен </abbr>
                                </label>
                            </div>

                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


</body>
</html>